<body>
    <section id="moderacao">
        <h2>Moderação de Servidores</h2>
        <p>Tenho experiência em moderar comunidades online, especialmente em plataformas como o Discord. Garanto um ambiente seguro e amigável para todos os membros.</p>
      <div class="card">
            <img src="icone1.png" alt="Ícone do Servidor 1">
            <h3>Nome do Servidor 1</h3>
            <p>Cargo: Moderador</p>
            <p>Descrição do servidor 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis ante vel tempor lacinia.</p>
            <a href="link_para_servidor_1" target="_blank">Acessar Servidor</a>
        </div>
        <div class="card">
            <img src="icone2.png" alt="Ícone do Servidor 2">
            <h3>Nome do Servidor 2</h3>
            <p>Cargo: Administrador</p>
            <p>Descrição do servidor 2. Duis tristique massa at arcu ultrices, eu posuere ex bibendum.</p>
            <a href="link_para_servidor_2" target="_blank">Acessar Servidor</a>
        </div>
        <div class="card">
            <img src="icone3.png" alt="Ícone do Servidor 3">
            <h3>Nome do Servidor 3</h3>
            <p>Cargo: Moderador</p>
            <p>Descrição do servidor 3. Fusce quis metus nec ligula pretium maximus ac vel magna.</p>
            <a href="link_para_servidor_3" target="_blank">Acessar Servidor</a>
        </div>
    </section>
</body>