* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #36393f;
    color: #ffffff;
}

.header {
    background-color: #7289da;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #202225;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #ffffff;
}

.nav {
    background-color: #2c2f33;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #202225;
}

nav a {
    color: #b9bbbe;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.section {
    padding: 20px;
    text-align: center;
}

.discord {
    display: inline-block;
    background-color: #7289da;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

.discord:hover {
    background-color: #677bc4;
}

.footer {
    background-color: #2c2f33;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #202225;
}

.card {
    background-color: #2c2f33;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    vertical-align: middle;
}

.card h3 {
    margin-top: 0;
    text-align: center;
}

.aboutMeText {
    text-align: left;
    margin: 0 10%;
}

.server-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.server-info .img,
.iconbg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.server-info h3 {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
}

.buttonServer {
    background-color: #7289da;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    transition: background-color 0.2s ease;
}

.buttonServer:hover {
    background-color: #677bc4;
    cursor: pointer;
}

h1 {
    font-size: 6vw;
}

.blog-post {
    max-width: 60%;
    min-width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #2c2f33;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blog-post img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.blog-post a {
    color: #7289da;
    text-decoration: none;
}

.blog-post header {
    background-color: #7289da;
    padding: 20px;
    text-align: left;
    border-radius: 10px 10px 0 0;
}

.blog-post header h1 {
    margin: 0;
    font-size: 36px;
    color: #ffffff;
}

.blog-post nav {
    background-color: #2c2f33;
    padding: 10px;
    text-align: left;
}

.blog-post nav a {
    color: #b9bbbe;
    text-decoration: none;
    margin: 0 10px;
}

.blog-post nav a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}

.blog-post section {
    padding: 20px;
    text-align: left;
}

.blog-post .discord {
    display: inline-block;
    background-color: #7289da;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

.blog-post .discord:hover {
    background-color: #677bc4;
}

.blog-post footer {
    background-color: #2c2f33;
    padding: 10px;
    text-align: left;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
}

.blog-post .card {
    background-color: #2c2f33;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blog-post .card img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    vertical-align: middle;
}

.blog-post .card h3 {
    margin-top: 0;
    text-align: left;
}

.blog-post .server-info {
    display: flex;
    margin-top: 10px;
}

.blog-post .server-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.blog-post .server-info h3 {
    margin: 0;
    font-size: 1.2em;
    text-align: left;
}

.blog-post .buttonServer {
    background-color: #7289da;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    transition: background-color 0.2s ease;
}

.blog-post .buttonServer:hover {
    background-color: #677bc4;
    cursor: pointer;
}

.blog-post h1 {
    font-size: 2.5em; /* Tamanho ajustado para h1 */
}

.blog-post h2 {
    font-size: 2em; /* Tamanho ajustado para h2 */
}

.blog-post h3 {
    font-size: 1.75em; /* Tamanho ajustado para h3 */
}

.blog-post h4 {
    font-size: 1.5em; /* Tamanho ajustado para h4 */
}

.blog-post h5 {
    font-size: 1.25em; /* Tamanho ajustado para h5 */
}

.blog-post h6 {
    font-size: 1em; /* Tamanho ajustado para h6 */
}
